* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border-collapse: collapse;
}

html {
    height: 100%;
}
body {
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
    height: 100%;
    max-width: 1980px;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

main {
    flex: 1 1 auto;
}

.search {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 5px;
    gap: 10px;

    font:
        300 1em 'Fira Sans',
        sans-serif;
}

.search__field {
    width: 270px;
    border-radius: 6px;
    border: none;
    font:
        300 1em 'Fira Sans',
        sans-serif;
    padding: 8px;
}

.search__button {
    width: 100px;
    border-radius: 6px;
    border: none;
    font:
        300 1em 'Fira Sans',
        sans-serif;
    background-color: #9dd7f1;
    cursor: pointer;
    padding: 8px;
    pointer-events: default;
}

.search__button:disabled {
    background-color: #9dd6f1c7;
    pointer-events: none;
}

header {
    padding: 10px 30px;
    background-color: #24272c;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 12px;
    background-color: #24272c;
}
.additional_info {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}

.additional_info li {
    display: inline-block;
    width: 30%;
    padding: 8px;
    text-align: center;
}

.additional_info__course_link .icon {
    width: 50px;
}

.additional_info__logo {
    display: inline-block;
    background-image: url(img/rss-logo.svg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.additional_info__author_github {
    font-size: 14px;
    color: #ddd8d8;
    text-decoration: none;
}

footer .copyright {
    font-size: 14px;
    color: #ddd8d8;
    text-align: center;
    padding-bottom: 20px;
}
footer .copyright a {
    color: #ddd8d8;
}

footer .copyright:before {
    content: '©';
}
@media (hover: hover) {
    .additional_info__course_link:hover .icon path {
        fill: #30c5ff;
        transition: 0.5s;
    }
    .additional_info__course_link:hover .icon circle {
        fill: white;
        transition: 0.5s;
    }
    .additional_info__author_github:hover {
        color: #9dd7f1;
        transition: 0.5s;
    }
    footer .copyright a:hover {
        transition: 0.5s;
        color: #9dd7f1;
    }
}

@media (min-width: 640px) {
    .search__field {
        width: 500px;
    }
}
