* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Montserrat;
  font-size: 16px;
  background-color: #ffffff;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.wrapper {
  width: 1276px;
  margin: 0 auto;
}

.header {
  font-size: 12px;
  font-weight: 600;
  line-height: 15.6px;
  color: #181c29;
  text-transform: uppercase;
  background-color: #ffffff;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 12px 0;
}

.header a {
  text-decoration: none;
  color: #181c29;
}
.logo {
  display: block;
  display: flex;
  align-items: center;
  padding: 8px 20px;
}
.logo:hover {
  cursor: pointer;
}
.logo span {
  display: inline-block;
  padding-left: 8px;
}
/*.navigation {
  display: flex;
  justify-content: space-between;
}*/
.navigation li {
  display: inline-block;
  margin-left: 8px;
}

h1 {
  font-family: Montserrat;
  font-size: 32px;
  line-height: 48px;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding-top: 12px;
}
p {
  font-family: Montserrat;
  font-size: 16px;
  line-height: 23.68px;
  font-weight: 400;
}

.navigation a {
  padding: 12px 20px;
}
.navigation a:hover {
  padding: 12px 20px;
  background-color: rgba(255, 70, 70, 0.1);
  border-radius: 12px;
  color: #ff4646;
}
section,
footer {
  background-color: #ff4646;
}
.hero {
  background-image: url(images/snow.png), url(images/tree-decor.png);
  background-size: cover;
  background-position: center;
  height: 524px;
  border-radius: 20px 20px 0 0;
}

.hero-content {
  width: 426px;
  text-align: center;
  padding: 120px 0;
  margin: 0px auto;
}

/*.hero-content p {
  padding-top: 60px;
}*/

.button {
  background-color: #181c29;
  color: #ffffff;
  text-align: center;
  padding: 20px 0px;
  border-radius: 20px;
  border: none;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
}
.button a {
  color: #ffffff;
  text-decoration: none;
  padding: 20px 32px;
}
.button:hover {
  background-color: #ffffff;
  color: #181c29;
}
.button:hover a {
  color: #181c29;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
}
.hero .button {
  margin: 12px auto;
}
.about,
.slider,
.gifts {
  background-image: url(images/snow.png);
  background-size: cover;
  background-position: center;
}
.about {
  padding: 60px 0;
}
.about-wrapper {
  background-color: #ffffff;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
}

.about-content {
  width: 50%;
  padding: 160px 152px 160px 60px;
}
.santa-image {
  background-image: url("images/santa.png");
  width: 50%;
  height: 528px;
  border-radius: 20px;
}

.caption {
  font-family: Allura;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
}
h2 {
  font-family: Montserrat;
  font-size: 24px;
  line-height: 36.48px;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 5px;
  /*padding: 20px 0;*/
}
.caption-red {
  color: red;
}

.carousel {
  padding: 60px 0;
  text-align: center;
}

.about h2 {
  color: #181c29;
  padding: 20px 0;
}

.carousel-cards {
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  overflow: clip;
}
.carousel-cards li {
  display: inline-block;
  /*list-style-type: none;*/
}
.carousel h2 {
  color: #181c29;
  padding: 12px 0;
}

.carousel-card.text {
  font-family: Montserrat;
  font-size: 80px;
  line-height: 97.52px;
  color: #ffffff;
  text-transform: uppercase;
}

.carousel-image {
  border-radius: 20px;
  height: 200px;
  position: relative;
  top: 2px;
}

.arrow-icon {
  width: 24px;
  height: 24px;
  display: inline-block;
}
.arrow-button {
  box-sizing: border-box;
  display: inline-flex;
  border: 1px solid #ffffff;
  border-radius: 20px;
  margin-left: 20px;
  width: 56px;
  height: 56px;
  align-items: center;
  justify-content: center;
}
.arrow-button:hover {
  background-color: #ffffff;
  cursor: pointer;
}
.arrow-button:hover .arrow-icon path {
  stroke: red;
}
.arrow-button.inactive {
  border-color: rgba(255, 255, 255, 0.4);
}
.arrow-button.inactive:hover {
  background-color: #ff4646;
}
.inactive path {
  stroke-opacity: 0.4;
}
.arrow-button.inactive:hover .arrow-icon path {
  stroke: white;
  stroke-opacity: 0.4;
}
.arrows {
  text-align: right;
  padding-top: 12px;
}

.wrapper-gifts {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}
.wrapper-gifts h2 {
  padding-top: 12px;
  padding-bottom: 20px;
}
.card-gifts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 12px;
  /*align-items: start;*/
}

.card-gift {
  width: 310px;
  background-color: #ecf3f8;
  border-radius: 20px;
}
.card-gift:hover {
  cursor: pointer;
}
.card-gift:hover h3 {
  color: #ff4646;
}

.gifts-image-container {
  height: 230px;
}

.card-gift-text-container {
  background-color: #ffffff;
  height: 112px;
  border-radius: 20px;
  text-align: left;
  padding: 20px;
}
.card-gift-text-container h3 {
  padding-top: 8px;
}

h4 {
  font-family: Montserrat;
  font-weight: 600;
  line-height: 15.6px;
  font-size: 12px;
  text-transform: uppercase;
}
.tag-work .gifts-image-container {
  background-image: url("images/image.png");
}
.tag-health .gifts-image-container {
  background-image: url("images/snowman-ball.png");
}
.tag-harmony .gifts-image-container {
  background-image: url("images/tree-ball.png");
}

.tag-work h4 {
  color: #4361ff;
}

.tag-health h4 {
  color: #06a44f;
}

.tag-harmony h4 {
  color: #ff43f7;
}

h3 {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24.32px;
  letter-spacing: 1px;
}

.gifts h1 {
  margin: auto;
  width: 426px;
  padding-top: 0;
  padding-bottom: 12px;
}
.gifts-tags {
  display: flex;
  margin: auto;
  justify-content: space-between;
  width: 474px;
  list-style: none;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 15.6px;
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
  gap: 8px;
  padding-bottom: 12px;
}
.gifts-tags li {
  padding: 8px 12px;
  letter-spacing: 1px;
}
.gifts.gifts-background {
  background-image: url("images/bg-garland.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: top;
}
.cta {
  background-image: url("images/snow.png"), url("images/forest.png");
  background-size: cover;
  border-radius: 0 0 20px 20px;
}
.wrapper-cta {
  /*height: 668px;*/
  text-align: center;
  padding: 60px 0;
}

.cta-content {
  width: 426px;
  margin: auto;
  text-align: center;
  padding: 120px 0;
  box-sizing: border-box;
}
.cta-content .caption {
  padding-bottom: 8px;
}

.cta .button {
  margin: 20px auto;
}
.timer {
  display: flex;
  width: 344px;
  height: 72px;
  background-color: rgba(255, 255, 255, 0.4);
  justify-content: center;
  align-items: center;
  gap: 0;
  position: relative;
  border-radius: 20px;
  margin: auto;
}

.timer div {
  display: flex;
  width: 80px;
  /*font-family: Montserrat;
  font-weight: 600;
  line-height: 15.6px;
  font-size: 12px;*/
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  height: 52px;
}

.timer .separator {
  height: 20px;
  width: 1px;
  border-left: 1px solid;
  border-color: rgba(255, 255, 255, 0.4);
  position: absolute;
  top: 14px;
  left: -6px;
}

.timer div h2 {
  /*text-align: center;*/
  font-family: Montserrat;
  font-weight: 600;
  line-height: 36.48px;
  font-size: 24px;
  text-transform: uppercase;
}

.timer div h4 {
  /*text-align: center;*/
  letter-spacing: 1px;
  /*padding-top: 10px;*/
  font-weight: 400;
  line-height: 15.6px;
  font-size: 12px;
}

footer {
  background-color: #ffffff;
  text-align: center;
}
.wrapper-footer {
  padding: 60px 0;
}

.contacts-3-columns {
  display: flex;
  justify-content: space-between;
}
.contact-card {
  width: 33%;
  text-align: center;
  background-color: rgba(236, 243, 248, 1);
  border-radius: 20px;
  padding: 20px;
}
.contact-card a {
  text-decoration: none;
  color: black;
}
.contact-icon {
  height: 80px;
  width: 80px;
  display: block;

  margin: auto;
}
.santa {
  background-image: url("images/santa-claus.svg");
}
.tree {
  background-image: url("images/christmas-tree.svg");
}
.snake {
  background-image: url("images/snake.svg");
}

.contact-card p {
  font-family: Montserrat;
  font-weight: 600;
  line-height: 36.48px;
  font-size: 24px;
  text-transform: uppercase;
  padding: 12px 0;
  letter-spacing: 5px;
}

.contact-card:hover,
.contact-card:hover a {
  color: #ff4646;
  cursor: pointer;
}
.footer-social {
  padding-top: 60px;
}
.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 196px;
  margin: 0 auto;
}

.social li {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.social li:hover {
  cursor: pointer;
}
.social li:hover path {
  stroke: #ff4646;
}
.social-icon {
  width: 24px;
  height: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.footer-social p {
  padding-top: 12px;
}

footer .caption {
  color: #181c29;
  padding-top: 12px;
}

footer .caption a {
  text-decoration: none;
  color: #181c29;
}

footer .caption a:hover {
  color: #ff4646;
}
