* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border-collapse: collapse;
}
html{
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  font-family: Montserrat;
  font-size: 1.6rem;

  background-color: #ffffff;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.wrapper {
 max-width: 1296px;
  padding: 0 10px;

  margin: 0 auto;
}
.background{
  background: #ff4646;
  border-radius: 20px;
}
/*header*/

.header {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 130%;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  color: #181c29;

  background-color: #ffffff;

}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 64px;
  padding: 12px 10px;
}

.navigation__link, .logo {
  text-decoration: none;
  color: #181c29;
}

.logo {
  display: block;
  display: flex;
  align-items: center;
  padding: 8px 20px;
}

.logo:hover {
  cursor: pointer;
}

.logo__text {
  padding-left: 8px;
}

.navigation li {
  display: inline-block;
  margin-left: 4px;
}

.navigation__link {
  padding: 12px 20px;
}

.navigation__link:hover {
  padding: 12px 20px;
  background-color: rgba(255, 70, 70, 0.1);
  border-radius: 12px;
  color: #ff4646;
  transition: background-color 1s ease, color 1s ease;
}

.navigation .current-link a {
  background-color: rgba(255, 70, 70, 0.1);
  border-radius: 12px;
  color: #ff4646;
}

.navigation .current-link:hover,
.navigation .current-link a:hover
 {
  cursor: default;
 }

 .hero-content__title, .gifts__title {
  font-family: Montserrat;
  font-size: 3.2rem;
  line-height: 150%;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 5.76px;

  color: #ffffff;
  padding-top: 12px;
}

p {
  font-family: Montserrat;
  font-size: 1.6rem;
  line-height: 23.68px;
  font-weight: 400;
}

/*hero section*/

.hero {
  background-image: url(images/snow.png), url(images/tree-decor.png);
  background-size: cover;
  background-position: center;
}

.hero-content {
  width: 446px;
  text-align: center;
  padding: 120px 8px;
  margin: 0px auto;
}

.button {
  background-color: #181c29;
  width: 235px;
  border-radius: 20px;
  border: none;

  font-family: Montserrat;
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  text-align: center;
  line-height: 130%;

  padding: 20px 0px;
  white-space: nowrap;
}

.button a {
  color: #ffffff;
  text-decoration: none;
  padding: 20px 32px;
}

.hero .button {
  margin: 12px auto;
}

.about,
.slider,
.gifts {
  background-image: url(images/snow.png);
  background-size: cover;
  background-position: center;
}

/*About section*/
.about {
  padding: 60px 0;
}

.about-block {
  background-color: #ffffff;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about__content {
  width: 50%;
  padding: 160px 152px 160px 60px;
}

.about__image {
  background-image: url("images/santa.png");
  min-width: 160px;
  width: 50%;
  min-height: 528px;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
}

.caption {
  font-family: Allura;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 100%;
  color: #ffffff;
  letter-spacing: 1.2px;
}

h2 {
  font-family: Montserrat;
  font-size: 2.4rem;
  line-height: 151%;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 3.84px;
}

.about h2 {
  color: #181c29;
  padding: 20px 0;
}

.caption-red {
  color: red;
}

/*Slider section*/
.carousel {
  padding: 60px 0;
  text-align: center;
  overflow: hidden;
}

.carousel-cards {
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 21px;
  overflow: hidden;
  padding-left: 82px;
  padding-right: 82px;
  transition: all 0.2s;
}

.carousel-cards li {
 list-style-type: none;
}

.carousel h2 {
  color: #ffffff;
  padding-top: 12px;
  padding-bottom: 20px;
}

.carousel-card__text {
  font-family: Montserrat;
  font-size: 8rem;
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
}

.carousel-card__image {
  border-radius: 20px;
  height: 200px;
  position: relative;
  top: 2px;
}

/*Arrows buttons*/
.slider__arrows {
  text-align: right;
  padding-top: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 20px;

}

.arrow-icon {
  width: 24px;
  height: 24px;
  display: inline-block;
}

.arrow-button {
  box-sizing: border-box;
  display: inline-flex;
  border: 1px solid #ffffff;
  border-radius: 20px;
  width: 56px;
  height: 56px;
  align-items: center;
  justify-content: center;
}

.arrow-button_inactive {
  border-color: rgba(255, 255, 255, 0.4);
  pointer-events: none;
}

.arrow-button_inactive:hover {
  background-color: #ff4646;
}

.arrow-button_inactive path {
  stroke-opacity: 0.4;
}

.arrow-button_inactive:hover .arrow-icon path {
  stroke: white;
  stroke-opacity: 0.4;
  transition: stroke 1s ease, stroke-opacity 1s ease;
}

/*Gifts section*/
.wrapper-gifts {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.wrapper-gifts h2 {
  padding-top: 12px;
  padding-bottom: 20px;
}

.gifts-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
}

.gift-card {
  width: 310px;
  background-color: #ecf3f8;
  border-radius: 20px;
}

.gift-card__image {
  height: 230px;
}

.gift-card__text {
  background-color: #ffffff;
  height: 112px;
  border-radius: 20px;
  text-align: left;
  padding: 20px;
}

.gift-card__text h3 {
  padding-top: 8px;
}

h4 {
  font-family: Montserrat;
  font-weight: 600;
  line-height: 130%;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.6px;
}

.gift-tag_work .gift-card__image {
  background-image: url("images/image.png");
}

.gift-tag_health .gift-card__image{
  background-image: url("images/snowman-ball.png");
}

.gift-tag_harmony .gift-card__image {
  background-image: url("images/tree-ball.png");
}

.gift-tag_work h4 {
  color: #4361ff;
}

.gift-tag_health h4 {
  color: #06a44f;
}

.gift-tag_harmony h4 {
  color: #ff43f7;
}

h3 {
  text-transform: uppercase;
  font-size: 1.6rem;
  line-height: 152%;
  letter-spacing: 1.28px;
  font-weight: 600;
}

/*Addition for Gifts section for Gifts page*/
.gifts h1 {
  margin: auto;
  width: 426px;
  padding-top: 0;
  padding-bottom: 20px;
}

.gifts-tags {
  display: flex;
  margin: auto;
  justify-content: center;
  list-style: none;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 15.6px;
  font-size: 1.2rem;
  color: #ffffff;
  text-transform: uppercase;
  gap: 10px;
  padding-bottom: 20px;
}

.gifts-tags li {
  padding: 12px 20px;
  letter-spacing: 0.6px;
}

.gift-tag_current {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 12px;
}
.gift-tag_current:hover {
 cursor: default;
}
.gifts.gifts-background {
  background-image: url("images/bg-garland.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: top;
  border-radius: 20px;
  background-color: #ff4646;
}

/*CTA section*/

.cta {
  background-image: url("images/snow.png"), url("images/forest.png");
  background-size: cover;
  background-position: top;
}

.wrapper-cta {
  text-align: center;
  padding: 60px 0;
}

.cta-content {
  width: 426px;
  margin: auto;
  text-align: center;
  padding: 120px 0;
  box-sizing: border-box;
}

.cta-content .caption {
  padding-bottom: 8px;
}

.cta .button {
  margin: 20px auto;
}

.timer {
  display: flex;
  width: 344px;
  height: 72px;
  background-color: rgba(255, 255, 255, 0.4);
  justify-content: center;
  align-items: center;
  gap: 0;
  position: relative;
  border-radius: 20px;
  margin: auto;
}

.timer__block {
  display: flex;
  width: 80px;
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  padding-bottom: 2px;
}

.timer__separator {
  height: 20px;
  width: 1px;
  border-left: 1px solid;
  border-color: rgba(255, 255, 255, 0.4);
  position: absolute;
  top: 13px;
  left: -2px;
}

.timer__block h4 {
  letter-spacing: 1px;
  font-weight: 400;
  line-height: 15.6px;
  font-size: 1.2rem;
}

/*footer*/

footer {
  background-color: #ffffff;
  text-align: center;
}

.footer__wrapper {
  padding: 60px 10px;
}

.layout-3-columns {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.contact-card {
  width: 33.3%;
  text-align: center;
  background-color: rgba(236, 243, 248, 1);
  border-radius: 20px;

}

.contact-card a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 20px;
}

.contact-icon {
  height: 80px;
  width: 80px;
  display: block;

  margin: auto;
}

.contact-icon_santa {
  background-image: url("images/santa-claus.svg");
}

.contact-icon_tree {
  background-image: url("images/christmas-tree.svg");
}

.contact-icon_snake {
  background-image: url("images/snake.svg");
}

.contact-card__text {
  font-family: Montserrat;
  font-weight: 600;
  line-height: 3.648rem;
  font-size: 2.4rem;
  text-transform: uppercase;
  padding: 12px 0;
  letter-spacing: 3.84px;
}

.footer-social {
  padding-top: 60px;
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 196px;
  margin: 0 auto;
}

.social li {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.social-icon {
  width: 24px;
  height: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.footer-social__text {
  padding-top: 12px;
}

footer .caption {
  color: #181c29;
  padding-top: 12px;
}

footer .caption a {
  text-decoration: none;
  color: #181c29;
}

.hamburger {
  height: 40px;
  width: 40px;
  display: none;
  position: relative;
}

.hamburger__line {
  width: 20px;
  height: 2px;
  background-color: #181c297a;
  display: inline-block;

}

.hamburger__line_line1{
  position: absolute;
  top: calc(50% - 5px);
    left: 10px;
    transition: all 0.2s;
}

.hamburger__line_line2{
  position: absolute;
  top: 23px;
    left: 10px;
    transition: all 0.2s;
}

@media (hover:hover){
  .button:hover {
    background-color: #ffffff;
    transition: background-color 0.5s ease-in, color 0.5s ease-in;
  }

  .button:hover a {
    color: #181c29;
    cursor: pointer;
    transition: color 1s ease;

    font-family: Montserrat;
    font-size: 1.2rem;
    font-weight: 600;
  }

  .arrow-button:hover {
    background-color: #ffffff;
    cursor: pointer;
    transition: background-color 1s ease;
  }

  .arrow-button:hover .arrow-icon path {
    stroke: red;
    transition: stroke 1s ease;
  }

  .gift-card:hover {
    cursor: pointer;
  }

  .gift-card:hover h3 {
    color: #ff4646;
    transition: color 1s ease;
  }

  .gifts-tags li:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    transition: background-color 1s;
    cursor: pointer;
  }

  .contact-card:hover,
  .contact-card:hover a {
  color: #ff4646;
  cursor: pointer;
  transition: color 1s ease;
}

  .social li:hover {
    cursor: pointer;
  }

  .social li:hover path {
    stroke: #ff4646;
    transition: stroke 1s ease;
  }

  footer .caption a:hover {
    color: #ff4646;
    transition: color 1s ease;
  }
}

@media screen and (max-width: 1295px){
  .gifts-cards{
    justify-content: center;
    width: 650px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1060px){
  .contact-cards{
    flex-direction: column;
  }
  .contact-card{
    width: 100%;
  }
}

@media screen and (max-width: 768px){
  .hamburger {
    display: block;
  }

  .navigation {
    display: none;
  }

  .header-wrapper {
    padding: 0 8px;
  }

  .hero-content {
    width: 446px;
  }

  .about-wrapper {
    padding: 0 8px;
  }

  .about__content {
    padding: 106px 60px;
  }

  .wrapper-slider {
    padding-left: 8px;
  }

  .carousel-cards {
    margin-left: 0;
  }

  .slider__arrows {
    padding-right: 8px;
  }

  .gifts-cards {
    width: auto;
    justify-content: center;
  }

  .footer__wrapper{
    padding: 60px 8px;
  }

  .wrapper-gifts{
    padding: 60px 8px;
  }
  /*.closeButton__line1{
    top: 50%;
    rotate:45deg;
    transition: all 0.2s;
  }
  .closeButton__line2{
    top: 20px;
    rotate:-45deg;
    transition: all 0.2s;
  }*/
.hamburger__cross .hamburger__line_line1{
  top: 50%;
    rotate:45deg;
    transition: all 0.2s;
}
.hamburger__cross .hamburger__line_line2{
  top: 20px;
  rotate:-45deg;
  transition: all 0.2s;
}

  .hamburger__menu{
    width: 100%;
    height: calc(100% - 64px);
    position: fixed;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    transition: all 2s;

  }

  .hamburger__menu li{
    display: inline-block;
    padding: 12px 20px;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 400;
  }
  .hamburger__menu a{
    text-decoration: none;
    color: #181c29;
  }

}



@media screen and (max-width: 620px){
.about-block {
  flex-direction: column;
}
.about-block>div {
  padding: 60px 20px;
  width: 100%;
}
.hero-content {
  width: 100%;
}
}

@media screen and (max-width: 430px){
  .hero-content {
    width: 100%;
  }

  .about__content {
    padding: 60px 20px;
    width: 100%;
  }

  .gifts-cards {
    width: auto;
    justify-content: center;
  }

  .gifts h1 {
    width: 100%;
  }

  .cta-content {
    width: 100%;
  }

  .wrapper-cta {
    padding: 0 8px;
  }

  .gifts-tags {
    width: 100%;
  }
  .wrapper-gifts {
    padding: 60px 8px;
  }

  .gifts-tags {
    gap: 0;
  }

  .gifts-tags li {
    padding: 12px 8px;
  }
  .cta-content {
    padding: 180px 0;
  }
  .footer__wrapper {
    padding: 60px 8px;
  }
}

@media screen and (max-width: 380px){
  .footer__wrapper {
    padding: 60px 8px;
  }

  .button {
    width: 235px;
  }

  .cta-content {
    padding: 180px 0;
  }
}



.hamburger__menu{
  right:-100%;
  transition: all 0.2s;
  position: fixed;

}

