@use "../abstracts/constants";

.pictures__picture {
  color: constants.$color-text-main;
  list-style-type: none;
  padding: 8px 12px;
  width: 95px;
  text-align: center;
  border: none;
  border-radius: 8px;
  text-transform: capitalize;
  background-color: constants.$color-background-top;
  &_selected {
    background-color: constants.$color-background-selected;
  }
}

.levels__label {
  margin-right: 8px;
  font-size: 18px;
  color: constants.$color-text-main;
}

.levels__list {
  padding: 8px 12px;
  color: constants.$color-text;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  background-color: constants.$color-background-top;
}
