@use "../abstracts/constants";
.dark-view {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: constants.$color-background-modal-out;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.modal {
  margin: 0 auto;
  width: 450px;
  background-color: constants.$color-background-modal;
  border-radius: 20px;
  position: relative;
  padding: 20px;
}

.modal__text {
  padding: 30px 20px;
  font-size: 18px;
  font-family: Roboto;
}

.icon-close {
  position: absolute;
  right: 12px;
  top: 12px;
  cursor: pointer;
}
