$color-text: rgb(58, 54, 54);

$color-background-body: #f7ede2;
$color-background-main: #d1ded9;
$color-background-hint: #fae1dd;
$color-background-buttons: #84a59d;
$color-background-top: #f8edeb;
$color-background-selected: #fec5bb;
$color-background-random: #f6bd60;
$color-background-modal: #f8edeb;
$color-background-modal-out: rgba(24, 28, 41, 0.8);

$color-border: #938f8f;
$color-colored-cell: #665f5f;

$color-text-buttons: #fbfbfb;
$color-text-main: #4b4242;
