@use "../abstracts/constants";
.buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  padding: 0 10px;
}

.buttons__button {
  display: block;
  width: 165px;
  padding: 6px 10px;
  font-size: 16px;
  font-family: Roboto;
  background-color: constants.$color-background-buttons;
  border-radius: 10px;
  border: none;
  color: constants.$color-text-buttons;
}
.buttons__button:hover {
  background-color: constants.$color-background-buttons-hover !important;
  color: #4b4242;
  transition: all 0.3s;
  cursor: pointer;
}
.buttons__button:disabled {
  background-color: rgb(36 43 40 / 43%) !important;
  pointer-events: none;
}
.menu__button {
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: constants.$color-background-random;
  font-size: 16px;
  font-family: Roboto;
  color: constants.$color-text-buttons;
}
.menu__button:hover {
  background-color: rgb(248, 237, 235) !important;
  color: #4b4242;
  transition: all 0.3s;
}
