@use "../abstracts/constants";

.cross {
  height: 100%;
  width: 100%;
  position: relative;
  display: block;
}

.cross__line {
  width: 80%;
  height: 2px;
  background-color: #181c297a;
  display: inline-block;
}

.cross__line_line1 {
  position: absolute;
  top: 45%;
  left: 10%;
  rotate: 45deg;
}

.cross__line_line2 {
  position: absolute;
  top: 45%;
  left: 10%;
  rotate: -45deg;
}

.theme {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 10px;
}

.sound {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 60px;
}
