body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(170 147 147);
}

.main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 500px;
}
