@use '../abstracts/constants';

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: Roboto, sans-serif;
    background-color: constants.$color-body;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    max-width: 1240px;
    padding: 70px;
    border-radius: 10px;
    background-color: constants.$color-main;
}

.title {
    font-size: 30px;
    font-weight: 600;
    color: constants.$color-title-text;
}
