$color-text: rgb(58 54 54);
$color-body: #c9ccd6;
$color-main: #8f93b0;
$color-option: #6a70a4;
$color-option-field: #c3c5d7ab;
$color-option-buttons: #d5d9e3;
$color-title-text: #dfdfdf;
$color-button-pick: #4a4b79;
