$color-main: #f0fcff;
$color-login-background: #c4ecff;
$color-login-input-background: #edfaff;
$color-login-input-border: #95d3f5;
$color-login-button: #4e91c2;
$color-chat-page-header: #c4ecff;
$color-chat-page-header-logout: #68b7e8;
$color-chat-container-border: #17324fa1;
$color-chat-container-background: #ecf6fa;
$color-chat-page-header-info: #68b7e8;
$color-chat-page-header-buttons-hover: #ecf6fa;
$color-chat-page-users-hover: #bcccdc;
$color-chat-page-users-active: #008000;
$color-chat-page-users-inactive: #ffa500;
$color-chat-page-users-message-count: #234e75;
$color-chat-page-users-message-count-text: #edfaff;
$color-chat-page-dialog-header: #234e75;
$color-chat-page-dialog-header-text: #edfaff;
$color-chat-page-dialog-send-button: #4b7e9e;
$color-chat-page-dialog-send-button-hover: #99bbd1;
$color-chat-page-input-border: #366e9c;
$color-chat-page-input-background: #f1f6f8;
$color-chat-page-save-button: #4b7e9e;
$color-chat-page-save-button-hover: #99bbd1;
$color-chat-page-message-background: #4e91c2;
$color-chat-page-message-context-menu: #fff;
$color-chat-page-message-context-menu-hover: #96d5ff;
$color-info-page-back-button: #4b7e9e;
$color-chat-page-footer: #bcccdc;
$color-chat-page-footer-text: #192228;
$color-error-message-background: white;
$color-error-message-background-outside: #b8b8b873;
