@use '../abstracts/constants';

.winners {
    display: grid;
    grid-auto-rows: 45px;
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
    gap: 1px;
    place-items: center center;
    width: 60%;
    min-width: 490px;
}

.winners p {
    width: 100%;
    font-size: 18px;
    text-align: center;
}

.winners-header {
    width: 100%;
    padding: 6px;
    font-size: 20px;
    background-color: constants.$color-winners-table-header;
}

@media screen and (width <= 900px) {
    .winners {
        width: 100%;
    }
}
