* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(170 147 147);
}

.dark-view {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(128 128 128 / 57.5%);
}

.modal {
    position: relative;
    width: 450px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
    background-color: white;
}

.icon-close {
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 12px;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 500px;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.option {
    display: flex;
    justify-content: space-between;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.buttons > button {
    display: block;
    width: 100%;
}

.modal-content {
    padding: 25px;
}

.textarea {
    resize: none;
    width: 90%;
    height: 100px;
    border-radius: 5px;
}

.decision-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 45%;
}

.top-elements {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.time-label {
    margin-left: 10px;
}

.input-time {
    width: 50px;
    margin-left: 6px;
    padding: 6px;
    border-radius: 5px;
}

.decision-back {
    width: 70px;
    border-radius: 5px;
}

.decision-pick {
    width: 100%;
    padding: 6px 12px;
    border-radius: 5px;
}

.input-final-option {
    width: 80%;
    padding: 8px 12px;
    border: none;
    border-radius: 11px;
}
