@use '../abstracts/constants';

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 60px;
    border-radius: 10px;
    background-color: #c4ecff;
}

.header-menu {
    display: flex;
    gap: 50px;
    align-items: center;
    list-style-type: none;
}

.logout-button {
    padding: 6px 12px;
    border-radius: 10px;
    background-color: #68b7e8;
}

.chat-container {
    display: flex;
    width: 90%;
    max-width: 1200px;
    border: 2px solid #17324fa1;
    border-radius: 10px;
    background-color: #ecf6fa;
}

.chat-info-button {
    padding: 6px 12px;
    border-radius: 10px;
    background-color: #68b7e8;
}

.chat-message-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    width: 100%;
    padding: 15px;
}

.chat-input {
    resize: none;
    width: 80%;
}

.section-users {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 10px;
    border-right: 2px solid #17324fa1;
}

.users {
    list-style: none;
}

.user-chat {
    padding: 5px 3px;
}

.section-chat {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.chat-header {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    min-height: 45px;
    padding: 6px;
    color: #edfaff;
    background-color: #234e75;
}

.chat-messages {
    overflow-y: auto;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
}

.chat-send-button {
    padding: 6px 12px;
    border: none;
    border-radius: 10px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    background-color: #4b7e9e;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    color: #192228;
    background-color: #bcccdc;
}

.author-github-link {
    color: #192228;
    text-align: center;
    text-decoration: none;
}

.school-icon {
    width: 40px;
}

.footer-content {
    color: #192228;
    list-style-type: none;
}

.footer-content li {
    padding: 10px;
}

.school-info {
    display: flex;
    gap: 5px;
    align-items: center;
}

.copyright {
    text-align: center;
}

.user-status {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border: 1px solid #000;
    border-radius: 50%;
}

.user-status-active {
    background-color: green;
}

.user-status-inactive {
    background-color: orange;
}

.selected-user-status-active {
    color: green;
}

.selected-user-status-inactive {
    color: orange;
}

.chat-empty-message,
.no-user-selected-message {
    margin: auto;
}

.new-message-separator {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-message-separator-line {
    position: absolute;
    top: 50%;
    width: 100%;
    border-top: 1px solid;
}

.new-message-separator-text {
    z-index: 2;
    background-color: #ecf6fa;
}

.chat-context-menu {
    position: absolute;
    width: 100px;
    padding: 10px;
    border-radius: 6px;
    background-color: white;
}

.chat-context-menu-list {
    list-style-type: none;
}

.chat-context-menu-list li {
    padding: 10px 0;
    text-align: center;
}

.message-footer {
    display: flex;
    justify-content: space-between;
}

.search-input,
.chat-input {
    padding: 3px 6px;
    border: 1px solid #366e9c;
    border-radius: 6px;
    font-size: 16px;
    background-color: #f1f6f8;
}
