@use '../abstracts/constants';

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 60px;
    border-radius: 10px;
    background-color: constants.$color-chat-page-header;
}

.header-menu {
    display: flex;
    gap: 50px;
    align-items: center;
    list-style-type: none;
}

.logout-button {
    padding: 6px 12px;
    border-radius: 10px;
    background-color: constants.$color-chat-page-header-logout;
}

.chat-container {
    display: flex;
    width: 90%;
    max-width: 1200px;
    border: 2px solid constants.$color-chat-container-border;
    border-radius: 10px;
    background-color: constants.$color-chat-container-background;
}

.chat-info-button {
    padding: 6px 12px;
    border-radius: 10px;
    background-color: constants.$color-chat-page-header-info;
}

.chat-info-button:hover,
.logout-button:hover {
    cursor: pointer;
    background-color: constants.$color-chat-page-header-buttons-hover;
}

.chat-message-container {
    display: flex;
    gap: 10px;
    align-items: flex-end;
    justify-content: space-around;
    width: 100%;
    padding: 15px;
}

.chat-input {
    resize: none;
    width: 80%;
}

.section-users {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 10px;
    border-right: 2px solid constants.$color-chat-container-border;
}

.users {
    padding-top: 10px;
    list-style: none;
}

.user-chat {
    cursor: pointer;
    padding: 5px 3px;
}

.user-chat:hover {
    background-color: constants.$color-chat-page-users-hover;
}

.section-chat {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.chat-header {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    min-height: 45px;
    padding: 6px;
    color: constants.$color-chat-page-dialog-header-text;
    background-color: constants.$color-chat-page-dialog-header;
}

.chat-send-button {
    cursor: pointer;
    padding: 6px 12px;
    border: none;
    border-radius: 10px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    background-color: constants.$color-chat-page-dialog-send-button;
}

.chat-send-button:hover {
    background-color: constants.$color-chat-page-dialog-send-button-hover;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    color: constants.$color-chat-page-footer-text;
    background-color: constants.$color-chat-page-footer;
}

.author-github {
    text-align: center;
}

.author-github-link {
    color: constants.$color-chat-page-footer-text;
    text-align: center;
    text-decoration: none;
}

.school-icon {
    width: 40px;
}

.footer-content {
    color: constants.$color-chat-page-footer-text;
    list-style-type: none;
}

.footer-content li {
    padding: 10px;
}

.school-info {
    display: flex;
    gap: 5px;
    align-items: center;
}

.copyright {
    text-align: center;
}

.user-status {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border-radius: 50%;
}

.user-status-active {
    background-color: constants.$color-chat-page-users-active;
}

.user-status-inactive {
    background-color: constants.$color-chat-page-users-inactive;
}

.selected-user-status-active {
    color: constants.$color-chat-page-users-active;
}

.selected-user-status-inactive {
    color: constants.$color-chat-page-users-inactive;
}

.message-footer {
    display: flex;
    justify-content: space-between;
}

.search-input,
.chat-input {
    padding: 3px 6px;
    border: 1px solid constants.$color-chat-page-input-border;
    border-radius: 6px;
    font-size: 16px;
    background-color: constants.$color-chat-page-input-background;
}

.save-update {
    padding: 6px 12px;
    border: none;
    border-radius: 10px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    background-color: constants.$color-chat-page-save-button;
}

.save-update:hover {
    background-color: constants.$color-chat-page-save-button-hover;
}
