@use '../abstracts/constants';

.main-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 20px;
}

.info-back {
    cursor: pointer;
    width: 100px;
    padding: 6px;
    border: none;
    border-radius: 6px;
    background-color: constants.$color-info-page-back-button;
}

.application-info-details {
    text-align: center;
}
