.auth-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    width: 400px;
    padding: 40px;
    border-radius: 10px;
    background-color: #c4ecff;
}

.user-name-row,
.password-row {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.login-button {
    padding: 6px 20px;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    background-color: #4e91c2;
}

.user-name-input,
.password-input {
    padding: 6px 12px;
    border: 1px solid #95d3f5;
    border-radius: 6px;
    background-color: #edfaff;
}
