@use '../abstracts/constants';

body {
    display: flex;
    min-height: 100vh;
    max-height: 100vh;
    font-family: Roboto, sans-serif;
    background-color: constants.$color-main;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 100%;
    background-color: constants.$color-main;
}

.main {
    flex: 1 1 auto;
}

.main-chat {
    display: flex;
    justify-content: center;
    max-height: 70%;
    padding: 50px;
}
