@use '../abstracts/constants';

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: Roboto, sans-serif;
    background-color: constants.$color-main;
}

.main {
    display: flex;
    justify-content: center;
    background-color: constants.$color-main;
}
