body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: Roboto, sans-serif;
    background-color: #f0fcff;
}

.main {
    display: flex;
    justify-content: center;
    background-color: #f0fcff;
}
