@use "../abstracts/constants";

.grid {
  display: grid;
  grid-auto-rows: 30px;
  justify-content: center;
  grid-gap: 1px;
  background: constants.$color-border;
  border: 2px solid constants.$color-border;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.grid-item__hint {
  background-color: constants.$color-background-hint;
  color: constants.$color-text;
}

.grid-item__game_colored {
  background-color: constants.$color-colored-cell;
}

.grid-item_border-vertical {
  border-left: 1px solid constants.$color-border;
}

.grid-item_border-horizontal {
  border-top: 1px solid constants.$color-border;
}
.grid-item__empty {
  background-color: constants.$color-background-hint;
}

.results {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-family: "Roboto";
  background-color: constants.$color-border;
  gap: 1px;
}

.results__header,
.results__data {
  padding: 8px 12px;
  text-align: center;
}

.results__header {
  font-weight: 600;
  font-size: 18px;
  background-color: constants.$color-background-modal;
  background-color: #fec89a;
}

.results__data {
  text-transform: capitalize;
  font-size: 18px;
  background-color: constants.$color-background-modal;
}

/*.results__row {
  display: flex;
  justify-content: space-around;
}*/
