@use "../abstracts/constants";
main {
  display: flex;
  justify-content: center;
  background-color: constants.$color-background-body;
  min-height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 20px;
  font-family: Roboto;
  max-width: 1240px;
  border-radius: 10px;
  background-color: constants.$color-background-main;
  padding: 15px;
  position: relative;
  min-height: 100vh;
}

.pictures {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 0;
}
