.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-family: Roboto;
}

.pictures {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 0;
}
