@use '../abstracts/constants';

.car-row {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.car-main {
    position: relative;
    display: flex;
    gap: 3px;
    align-items: flex-start;
    border-bottom: 1px solid;
}

.car-main button {
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: constants.$color-garage-car-menu-start-stop-background;
}

.car-menu {
    display: flex;
    gap: 10px;
    margin-top: 8px;
}

.car-image {
    position: relative;
    height: 63px;
}

.car-image svg {
    position: absolute;
    top: 6px;
    overflow: hidden;
    height: 80px;
}

.flag-image {
    position: absolute;
    top: 12px;
    right: 100px;
    display: block;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.remove-button,
.select-button {
    z-index: 2;
    padding: 4px;
    border: none;
    border-radius: 5px;
    background-color: constants.$color-garage-car-menu-buttons-background;
}

.button {
    position: relative;
    z-index: 2;
}
