.car-row {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.car-main {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid;
}

.car-image {
    height: 71px;
}
