@use '../abstracts/constants';

.winners-page-menu button {
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    background-color: constants.$color-top-garage-buttons;
}

.winners-title {
    font-size: 24px;
}

.winners-page-number {
    font-size: 20px;
}

.winners .car-image {
    position: static;
    height: 100%;
}

.winners .car-image svg {
    position: static;
    width: 45px;
    height: 45px;
}

.sort-icon-up,
.sort-icon-down {
    position: absolute;
    width: 20px;
    height: 20px;
}
