.decision-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 45%;
}

.top-elements {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.time-label {
    margin-left: 10px;
}

.input-time {
    width: 50px;
    margin-left: 6px;
    padding: 6px;
    border-radius: 5px;
}

.decision-back {
    width: 70px;
    border-radius: 5px;
}

.decision-pick {
    width: 100%;
    padding: 6px 12px;
    border-radius: 5px;
}

.input-final-option {
    width: 80%;
    padding: 8px 12px;
    border: none;
    border-radius: 11px;
}
