@use '../abstracts/constants';

.decision-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 80%;
}

.top-elements {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.time-label {
    margin-left: 10px;
    font-size: 18px;
}

.input-time {
    margin-left: 6px;
    padding: 10px;
    border-color: constants.$color-border-input;
    border-radius: 5px;
    font-size: 20px;
    background-color: constants.$color-option-field;
}

.decision-back {
    cursor: pointer;
    width: 35%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    background-color: constants.$color-option-buttons;
}

.decision-back:hover {
    color: constants.$color-title-text;
    background-color: constants.$color-button-hover;
}

.decision-pick {
    cursor: pointer;
    width: 100%;
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    color: constants.$color-title-text;
    background-color: constants.$color-button-pick;
}

.decision-pick:hover {
    background-color: constants.$color-button-hover;
}

.decision-pick:disabled {
    opacity: 0.7;
}

.input-final-option {
    width: 80%;
    margin-bottom: 25px;
    padding: 8px 12px;
    border: 1px solid;
    border-color: constants.$color-button-hover;
    border-radius: 11px;
    font-size: 20px;
    text-align: center;
}

.highlight {
    border: 1px solid;
    border-color: constants.$color-highlighted-option-border;
    background-color: constants.$color-highlighted-option-background;
}

.disabled {
    opacity: 0.7;
}

.sound-image {
    cursor: pointer;
}

.sound-image:hover {
    opacity: 0.7;
}

.sound-image img {
    width: 50px;
}
