@use '../abstracts/constants';

.options {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.option {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-radius: 5px;
    background-color: constants.$color-option;
}

.option-input {
    width: 50%;
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: constants.$color-option-field;
}

.input-weight {
    width: 20%;
    font-size: 16px;
}

.option-number {
    padding: 5px;
    font-size: 16px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.buttons > button {
    cursor: pointer;
    display: block;
    width: 100%;
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    background-color: constants.$color-option-buttons;
}

.buttons > button:hover {
    color: constants.$color-title-text;
    background-color: constants.$color-button-hover-options;
}

.delete {
    cursor: pointer;
    width: 20%;
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    background-color: constants.$color-option-buttons;
}

.delete:hover {
    color: constants.$color-title-text;
    background-color: constants.$color-button-hover-options;
}
