$color-text: rgb(58 54 54);
$color-background: #fff2f0;
$color-top-garage-buttons: #d15a5e;
$color-garage-form-buttons: #fff1f0;
$color-garage-form-background: #ffa6a3;
$color-garage-car-menu-buttons-background: #ffa6a3;
$color-garage-car-menu-start-stop-background: #a59b9b;
$color-winners-table-header: #ffa6a3;
